USE [DB_A3B5B5_sici]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17/06/2018 09:57:03 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 17/06/2018 09:57:04 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 17/06/2018 09:57:05 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 17/06/2018 09:57:05 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 17/06/2018 09:57:06 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 17/06/2018 09:57:06 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Anuncios]    Script Date: 17/06/2018 09:57:06 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Anuncios](
	[IdAnuncio] [int] IDENTITY(1,1) NOT NULL,
	[AutorAnuncio] [varchar](50) NULL,
	[TituloAnuncio] [varchar](100) NULL,
	[DescripcionAnuncio] [varchar](200) NULL,
	[FechaCreacionAnuncio] [datetime] NULL,
	[Imagen] [image] NULL,
 CONSTRAINT [PK_Tbl_Anuncios] PRIMARY KEY CLUSTERED 
(
	[IdAnuncio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_AsistenciaTransferencias]    Script Date: 17/06/2018 09:57:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_AsistenciaTransferencias](
	[IdAsistenciaTransferencia] [int] IDENTITY(1,1) NOT NULL,
	[IdTransferencia] [int] NOT NULL,
	[Cedula] [numeric](18, 0) NULL,
	[IdSede] [int] NULL,
	[FechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_ASISTENCIATRANSFERENCIAS] PRIMARY KEY CLUSTERED 
(
	[IdAsistenciaTransferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Calificaciones]    Script Date: 17/06/2018 09:57:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Calificaciones](
	[IdCalificacion] [int] IDENTITY(1,1) NOT NULL,
	[IdTransferencia] [int] NULL,
	[Cedula] [numeric](18, 0) NULL,
	[Calificacion] [numeric](18, 0) NULL,
 CONSTRAINT [PK_CALIFICACIONES] PRIMARY KEY CLUSTERED 
(
	[IdCalificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Discapacidades]    Script Date: 17/06/2018 09:57:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Discapacidades](
	[IdDiscapacidad] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DISCAPACIDADES] PRIMARY KEY CLUSTERED 
(
	[IdDiscapacidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Especializacion]    Script Date: 17/06/2018 09:57:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Especializacion](
	[IdEspecializacion] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionEspecializacion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Tbl_Especializacion] PRIMARY KEY CLUSTERED 
(
	[IdEspecializacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_EspecializacionesUsuario]    Script Date: 17/06/2018 09:57:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_EspecializacionesUsuario](
	[Cedula] [numeric](18, 0) NOT NULL,
	[IdEspecializacion] [int] NOT NULL,
	[nidreg] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Tbl_EspecializacionesUsuario] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC,
	[IdEspecializacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Estados]    Script Date: 17/06/2018 09:57:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Estados](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_ESTADOS] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_InformacionBasicaUsuario]    Script Date: 17/06/2018 09:57:09 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_InformacionBasicaUsuario](
	[Cedula] [numeric](18, 0) NOT NULL,
	[NombreCompleto] [varchar](200) NULL,
	[Email] [varchar](100) NULL,
	[Telefono] [varchar](25) NULL,
	[Discapacidad] [int] NULL,
	[IdEstado] [int] NULL,
 CONSTRAINT [PK_INFOBASICAUSUARIO] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Inscripciones]    Script Date: 17/06/2018 09:57:10 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Inscripciones](
	[IdInscripcion] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [numeric](18, 0) NULL,
	[IdTransferencia] [int] NULL,
 CONSTRAINT [PK_Tbl_Inscripciones] PRIMARY KEY CLUSTERED 
(
	[IdInscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Sedes]    Script Date: 17/06/2018 09:57:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Sedes](
	[IdSede] [int] IDENTITY(1,1) NOT NULL,
	[NombreSede] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
 CONSTRAINT [PK_SEDES] PRIMARY KEY CLUSTERED 
(
	[IdSede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Transferencias]    Script Date: 17/06/2018 09:57:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Transferencias](
	[NombreTransferencia] [varchar](50) NULL,
	[IdTransferencia] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[CuposIniciales] [numeric](18, 0) NULL,
	[CuposActuales] [numeric](18, 0) NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[FechaCreacion] [datetime] NULL,
	[EstadoTransferencia] [int] NOT NULL,
	[IdEspecializacion] [int] NOT NULL,
	[IdSede] [int] NOT NULL,
 CONSTRAINT [PK_TRANSFERENCIAS] PRIMARY KEY CLUSTERED 
(
	[IdTransferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'5380f104-00e6-45fe-9f64-59292e657027', N'caritog28@gmail.com', 0, N'AGG3q/6Lbne4t1llxvJrpVOjAiInkYgxxxPCUvoElV6kVuXLYKZXrOSrZQT3XYKFfQ==', N'522949f8-2827-4ce6-853a-9829f98ae329', NULL, 0, 0, NULL, 1, 0, N'caritog28@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'63f41013-ba0f-4d53-9213-9522217b458d', N'ccamilo2303@gmail.com', 0, N'AC4LNaW3sEgClETkQEWUSPbuxekTMpz9r57eZCpdvIK0EXvnV81iM3q7Z6SEtml7gQ==', N'8f68ea18-bb59-4e0b-a284-da3220727488', NULL, 0, 0, NULL, 1, 0, N'ccamilo2303@gmail.com')
SET IDENTITY_INSERT [dbo].[Tbl_Anuncios] ON 

INSERT [dbo].[Tbl_Anuncios] ([IdAnuncio], [AutorAnuncio], [TituloAnuncio], [DescripcionAnuncio], [FechaCreacionAnuncio], [Imagen]) VALUES (1, N'Camilo', N'Prueba', N'prueba', CAST(N'2018-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Tbl_Anuncios] ([IdAnuncio], [AutorAnuncio], [TituloAnuncio], [DescripcionAnuncio], [FechaCreacionAnuncio], [Imagen]) VALUES (2, N'Camilo', N'Prueba Anuncio', N'Se abre convocatoria para curso Java', CAST(N'2018-01-01T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Tbl_Anuncios] OFF
SET IDENTITY_INSERT [dbo].[Tbl_AsistenciaTransferencias] ON 

INSERT [dbo].[Tbl_AsistenciaTransferencias] ([IdAsistenciaTransferencia], [IdTransferencia], [Cedula], [IdSede], [FechaRegistro]) VALUES (1, 1, CAST(1024 AS Numeric(18, 0)), 1, CAST(N'2017-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Tbl_AsistenciaTransferencias] ([IdAsistenciaTransferencia], [IdTransferencia], [Cedula], [IdSede], [FechaRegistro]) VALUES (2, 1, CAST(1024 AS Numeric(18, 0)), 1, CAST(N'2017-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tbl_AsistenciaTransferencias] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Discapacidades] ON 

INSERT [dbo].[Tbl_Discapacidades] ([IdDiscapacidad], [Descripcion]) VALUES (1, N'Vidente')
INSERT [dbo].[Tbl_Discapacidades] ([IdDiscapacidad], [Descripcion]) VALUES (2, N'Ninguna')
SET IDENTITY_INSERT [dbo].[Tbl_Discapacidades] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Especializacion] ON 

INSERT [dbo].[Tbl_Especializacion] ([IdEspecializacion], [DescripcionEspecializacion]) VALUES (1, N'jee')
INSERT [dbo].[Tbl_Especializacion] ([IdEspecializacion], [DescripcionEspecializacion]) VALUES (2, N'.NET')
SET IDENTITY_INSERT [dbo].[Tbl_Especializacion] OFF
SET IDENTITY_INSERT [dbo].[Tbl_EspecializacionesUsuario] ON 

INSERT [dbo].[Tbl_EspecializacionesUsuario] ([Cedula], [IdEspecializacion], [nidreg]) VALUES (CAST(1024 AS Numeric(18, 0)), 1, 1)
INSERT [dbo].[Tbl_EspecializacionesUsuario] ([Cedula], [IdEspecializacion], [nidreg]) VALUES (CAST(1024 AS Numeric(18, 0)), 2, 3)
INSERT [dbo].[Tbl_EspecializacionesUsuario] ([Cedula], [IdEspecializacion], [nidreg]) VALUES (CAST(10242 AS Numeric(18, 0)), 1, 2)
SET IDENTITY_INSERT [dbo].[Tbl_EspecializacionesUsuario] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Estados] ON 

INSERT [dbo].[Tbl_Estados] ([IdEstado], [Descripcion]) VALUES (1, N'Activo')
INSERT [dbo].[Tbl_Estados] ([IdEstado], [Descripcion]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[Tbl_Estados] OFF
INSERT [dbo].[Tbl_InformacionBasicaUsuario] ([Cedula], [NombreCompleto], [Email], [Telefono], [Discapacidad], [IdEstado]) VALUES (CAST(1024 AS Numeric(18, 0)), N'CAMILO', N'ccamilo2303@gmail.com', N'123', 1, 1)
INSERT [dbo].[Tbl_InformacionBasicaUsuario] ([Cedula], [NombreCompleto], [Email], [Telefono], [Discapacidad], [IdEstado]) VALUES (CAST(10242 AS Numeric(18, 0)), N'asd', N'asd@asd.com', N'!23', 1, NULL)
INSERT [dbo].[Tbl_InformacionBasicaUsuario] ([Cedula], [NombreCompleto], [Email], [Telefono], [Discapacidad], [IdEstado]) VALUES (CAST(102425 AS Numeric(18, 0)), N'CAMILO', N'wwandresbeltran@gmail.com', N'123', 2, 1)
SET IDENTITY_INSERT [dbo].[Tbl_Inscripciones] ON 

INSERT [dbo].[Tbl_Inscripciones] ([IdInscripcion], [Cedula], [IdTransferencia]) VALUES (1, CAST(1024 AS Numeric(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[Tbl_Inscripciones] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Sedes] ON 

INSERT [dbo].[Tbl_Sedes] ([IdSede], [NombreSede], [Direccion]) VALUES (1, N'Murillo toro', N'calle 67 no 17g ')
INSERT [dbo].[Tbl_Sedes] ([IdSede], [NombreSede], [Direccion]) VALUES (2, N'CEET', N'Calle 30')
SET IDENTITY_INSERT [dbo].[Tbl_Sedes] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Transferencias] ON 

INSERT [dbo].[Tbl_Transferencias] ([NombreTransferencia], [IdTransferencia], [Descripcion], [CuposIniciales], [CuposActuales], [FechaInicio], [FechaFin], [FechaCreacion], [EstadoTransferencia], [IdEspecializacion], [IdSede]) VALUES (N'Java', 1, N'JEE', CAST(1 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(N'2018-10-01T00:00:00.000' AS DateTime), CAST(N'2018-10-01T00:00:00.000' AS DateTime), CAST(N'2018-10-01T00:00:00.000' AS DateTime), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Tbl_Transferencias] OFF
ALTER TABLE [dbo].[Tbl_AsistenciaTransferencias] ADD  CONSTRAINT [DF_Tbl_AsistenciaTransferencias_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Tbl_AsistenciaTransferencias]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_AsistenciaTransferencias_Tbl_InformacionBasicaUsuario] FOREIGN KEY([Cedula])
REFERENCES [dbo].[Tbl_InformacionBasicaUsuario] ([Cedula])
GO
ALTER TABLE [dbo].[Tbl_AsistenciaTransferencias] CHECK CONSTRAINT [FK_Tbl_AsistenciaTransferencias_Tbl_InformacionBasicaUsuario]
GO
ALTER TABLE [dbo].[Tbl_AsistenciaTransferencias]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_AsistenciaTransferencias_Tbl_Sedes] FOREIGN KEY([IdSede])
REFERENCES [dbo].[Tbl_Sedes] ([IdSede])
GO
ALTER TABLE [dbo].[Tbl_AsistenciaTransferencias] CHECK CONSTRAINT [FK_Tbl_AsistenciaTransferencias_Tbl_Sedes]
GO
ALTER TABLE [dbo].[Tbl_AsistenciaTransferencias]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_AsistenciaTransferencias_Tbl_Transferencias] FOREIGN KEY([IdTransferencia])
REFERENCES [dbo].[Tbl_Transferencias] ([IdTransferencia])
GO
ALTER TABLE [dbo].[Tbl_AsistenciaTransferencias] CHECK CONSTRAINT [FK_Tbl_AsistenciaTransferencias_Tbl_Transferencias]
GO
ALTER TABLE [dbo].[Tbl_Calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Calificaciones_Tbl_InformacionBasicaUsuario] FOREIGN KEY([Cedula])
REFERENCES [dbo].[Tbl_InformacionBasicaUsuario] ([Cedula])
GO
ALTER TABLE [dbo].[Tbl_Calificaciones] CHECK CONSTRAINT [FK_Tbl_Calificaciones_Tbl_InformacionBasicaUsuario]
GO
ALTER TABLE [dbo].[Tbl_Calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Calificaciones_Tbl_Transferencias1] FOREIGN KEY([IdTransferencia])
REFERENCES [dbo].[Tbl_Transferencias] ([IdTransferencia])
GO
ALTER TABLE [dbo].[Tbl_Calificaciones] CHECK CONSTRAINT [FK_Tbl_Calificaciones_Tbl_Transferencias1]
GO
ALTER TABLE [dbo].[Tbl_EspecializacionesUsuario]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_EspecializacionesUsuario_Tbl_Especializacion] FOREIGN KEY([IdEspecializacion])
REFERENCES [dbo].[Tbl_Especializacion] ([IdEspecializacion])
GO
ALTER TABLE [dbo].[Tbl_EspecializacionesUsuario] CHECK CONSTRAINT [FK_Tbl_EspecializacionesUsuario_Tbl_Especializacion]
GO
ALTER TABLE [dbo].[Tbl_EspecializacionesUsuario]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_EspecializacionesUsuario_Tbl_InformacionBasicaUsuario] FOREIGN KEY([Cedula])
REFERENCES [dbo].[Tbl_InformacionBasicaUsuario] ([Cedula])
GO
ALTER TABLE [dbo].[Tbl_EspecializacionesUsuario] CHECK CONSTRAINT [FK_Tbl_EspecializacionesUsuario_Tbl_InformacionBasicaUsuario]
GO
ALTER TABLE [dbo].[Tbl_InformacionBasicaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_INFOBASICAUSUARIO_DISCAPACIDADES] FOREIGN KEY([Discapacidad])
REFERENCES [dbo].[Tbl_Discapacidades] ([IdDiscapacidad])
GO
ALTER TABLE [dbo].[Tbl_InformacionBasicaUsuario] CHECK CONSTRAINT [FK_INFOBASICAUSUARIO_DISCAPACIDADES]
GO
ALTER TABLE [dbo].[Tbl_InformacionBasicaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_InformacionBasicaUsuario_Tbl_Estados] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Tbl_Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Tbl_InformacionBasicaUsuario] CHECK CONSTRAINT [FK_Tbl_InformacionBasicaUsuario_Tbl_Estados]
GO
ALTER TABLE [dbo].[Tbl_Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Inscripciones_Tbl_InformacionBasicaUsuario] FOREIGN KEY([Cedula])
REFERENCES [dbo].[Tbl_InformacionBasicaUsuario] ([Cedula])
GO
ALTER TABLE [dbo].[Tbl_Inscripciones] CHECK CONSTRAINT [FK_Tbl_Inscripciones_Tbl_InformacionBasicaUsuario]
GO
ALTER TABLE [dbo].[Tbl_Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Inscripciones_Tbl_Transferencias1] FOREIGN KEY([IdTransferencia])
REFERENCES [dbo].[Tbl_Transferencias] ([IdTransferencia])
GO
ALTER TABLE [dbo].[Tbl_Inscripciones] CHECK CONSTRAINT [FK_Tbl_Inscripciones_Tbl_Transferencias1]
GO
ALTER TABLE [dbo].[Tbl_Transferencias]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Transferencias_Tbl_Especializacion] FOREIGN KEY([IdEspecializacion])
REFERENCES [dbo].[Tbl_Especializacion] ([IdEspecializacion])
GO
ALTER TABLE [dbo].[Tbl_Transferencias] CHECK CONSTRAINT [FK_Tbl_Transferencias_Tbl_Especializacion]
GO
ALTER TABLE [dbo].[Tbl_Transferencias]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Transferencias_Tbl_Estados] FOREIGN KEY([EstadoTransferencia])
REFERENCES [dbo].[Tbl_Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Tbl_Transferencias] CHECK CONSTRAINT [FK_Tbl_Transferencias_Tbl_Estados]
GO
ALTER TABLE [dbo].[Tbl_Transferencias]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Transferencias_Tbl_Sedes] FOREIGN KEY([IdSede])
REFERENCES [dbo].[Tbl_Sedes] ([IdSede])
GO
ALTER TABLE [dbo].[Tbl_Transferencias] CHECK CONSTRAINT [FK_Tbl_Transferencias_Tbl_Sedes]
GO
