
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reportes Disponibles</h2>

<table class="table">
    <tr>
        <th>
            Nombre Reporte
        </th>
        <th>
            Generar Reporte
        </th>
    </tr>

        <tr>
            <td>
                Reporte Usuarios Sistema
            </td>
            <td>
               <a href="../Reportes/generarReporteUsuariosSistema">Descargar Reporte</a>
            </td>

        </tr>
    
    <tr>
        <td>
            Reporte Transferencias
        </td>
        <td>
            <a href="../Reportes/generarReporteTranferencias">Descargar Reporte</a>
        </td>

    </tr>

    <tr>
        <td>
            Reporte Especialidades
        </td>
        <td>
            <a href="../Reportes/generarReporteEspecialidades">Descargar Reporte</a>
        </td>

    </tr>

    <tr>
        <td>
            Reporte Sedes
        </td>
        <td>
            <a href="../Reportes/generarReporteSedes">Descargar Reporte</a>
        </td>

    </tr>

    <tr>
        <td>
            Reporte Asistencia
        </td>
        <td>
            <a href="../Reportes/generarReporteAsistencia">Descargar Reporte</a>
        </td>

    </tr>



</table>